<form action="/outcomes" method="get">

<input type="radio" name="num" value="1" checked> 1<br>
<input type="radio" name="num" value="2"> 2<br>
<input type="radio" name="num" value="3"> 3 <br>

<input type="radio" name="num" value="4"> 4<br>
<input type="radio" name="num" value="5"> 5<br>
<input type="radio" name="num" value="6"> 6 <br>

<input type="radio" name="num" value="7"> 7<br>
<input type="radio" name="num" value="8"> 8<br>
<input type="radio" name="num" value="9"> 9 <br>

<input type="radio" name="num" value="10"> 10<br>

<button>Guess!</button>

</form>
