

<div class="list">



  <% @film_array["Search"].each do |elem| %>
    <div class="thumbnail">
      <h5>  <a href="/?t=<%= elem['Title'] %>"><%= elem['Title'] %></a>     </h5>
      <img class="" src="<%= elem['Poster'] %>" alt="">
    </div>
  <% end %>

</div>
